# Ignore all tempfiles
.swp
*~
*.swp
*.log
*.cgi
*.out
.idea
.DS_Store
/composer/monolog/vendor/
/composer/pager_use/vendor/
/composer/phinx/vendor/
/composer/psysh/vendor/
/phpdocs/phpdocs/vendor/
/standarts/codesniffer/vendor/
/standarts/vendor/