# Директивы, которые будут применены ко всем MySQL-клиентам
[client]
# Порт, по которому ждет запросов MySQL-сервер
port            = 3306
# Местоположение сокета, через который осуществляется
# обмен данными с сервером
socket          = /var/run/mysqld/mysqld.sock

# Директивы MySQL сервера
[mysqld]
# Linux-пользователь под которым работают рабочие процессы и
# от имени которого создаются папки и файлы с данными
user            = mysql
# Файл с идентификатором главного процесса mysqld-сервера
pid-file        = /var/run/mysqld/mysqld.pid
# Местоположение сокета, через который осуществляется обмен
# данными с MySQL-клиентами
socket          = /var/run/mysqld/mysqld.sock
# Порт, по которому ждет запросов MySQL-сервер
port            = 3306
# Папка установки MySQL-сервера
basedir         = /usr
# Каталог данных, в котором храняться файлы баз данных
datadir         = /var/lib/mysql
# Временная папка
tmpdir          = /tmp
# Директория с локализацией (переводами) сообщений об ошибках
lc-messages-dir = /usr/share/mysql
# Отключение системной блокировки файлов, вместо этого используется
# блокировкана на уровне MySQL (предотвращает дедлоки)
skip-external-locking

# Привязка к IP-адресу, при использовании ва качестве IP-адреса 0.0.0.0
# MySQL будет доступна для обращений из вне.
#
# Отключить работу MySQL-сервера через сеть можно при помощи директивы
# skip-networking. Удаление bind-address и включение skip-networking
# приведет к тому, что сервер начнет работать через сокет.
bind-address            = 127.0.0.1

# Объем оперативной памяти, которая отводится на кэш ключей (только MyISAM)
key_buffer              = 16M
# Максимальный размер SQL-запроса
max_allowed_packet      = 16M
# Размер стека для каждого потока
thread_stack            = 192K
# Сколько потоков кэшируется для повторого использования,
# обычно вычисляется по формуле: 8 + (max_connections / 100)
thread_cache_size       = 8
# Максимальное количество одновременных соединений, при достижении этого значения
# новые соединения будут отбрасываться сервером
max_connections        = 150

# Максимальный объем для результирующей таблицы, сохраняемый кэшем запроса
query_cache_limit       = 4M
# Объем кэша запроса
query_cache_size        = 128M

# Местоположение журнала ошибок
log_error = /var/log/mysql/error.log

# Кодировка по умолчанию для новых баз данных и таблиц
character-set-server = utf8

# Тип базы данных по умолчанию
default-storage-engine = InnoDB

############################################
# Директивы для настройки типа данных InnoDB
############################################

# Таблицы храняться не едином табличном пространстве (файле), 
# Под каждую таблицу выделяется свое собственное табличное пространство
innodb_file_per_table
# Объем оперативной памяти, которая отводится под кэш InnoDB, желательно
# выставлять такой, чтобы база данных имела возможность поместиться в нем
# полностью
innodb_buffer_pool_size=2G
# Обработка транзакций
# 0 - сохранение транзакций раз в секунду на жесткий диск
# 1 - каждая транзакция сохраняется на жесткий диск
# 2 - каждая транзакция сохраняется в журнал транзакций
#     (раз в секунду на жесткий диск)
innodb_flush_log_at_trx_commit = 2
# Размер журналана транзакций
innodb_log_buffer_size=8M